sudo: required
language: generic
services:
  - docker
before_install:
  - docker build -t deltaus/fib-test -f ./client/Dockerfile.dev .
script:
  - docker run -e CI=true deltaus/fib-test npm run test
deploy:
  provider: heroku
  app: docker-fib
  api_key: "21f175f3-2fb4-4a44-a17c-07245f811bb6"
  edge: true
